*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-moz-selection {
  color: #ffffff;
  background-color: rgb(20, 33, 61);
}

*::selection {
  color: #ffffff;
  background-color: rgb(20, 33, 61);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  color: #000000;
}

a,
i {
  text-decoration: none;
}

a {
  color: inherit;
}

i {
  background: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

textarea {
  min-height: 20rem;
  resize: vertical;
}

body {
  position: relative;
  background-color: #f5f5f5;
}

.deactive {
  display: none;
}

.active-nav-bg {
  background-color: rgb(20, 33, 61);
}
.active-nav-bg i,
.active-nav-bg p,
.active-nav-bg a {
  color: #ffffff;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}
.navbar__mobile, .navbar__desktop {
  background-color: rgb(20, 33, 61);
}
.navbar__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
}
.navbar__mobile-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 5rem;
  margin-bottom: 0.5rem;
}
.navbar__mobile-btns-btn {
  color: #ffffff;
  font-size: 2.5rem;
}
.navbar__mobile-item {
  font-size: 1.5rem;
}
.navbar__mobile-item ::first-letter {
  text-transform: uppercase;
}
.navbar__mobile-item::first-letter {
  text-transform: uppercase;
}
.navbar__desktop {
  position: relative;
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5rem;
  width: 100%;
  padding: 2rem;
}
.navbar__desktop-logo {
  position: absolute;
  left: 2rem;
  color: rgb(20, 33, 61);
  font-weight: bold;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.navbar__desktop-logo, .navbar__desktop-item {
  color: #ffffff;
  font-size: 1.7rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}
.navbar__desktop-logo:hover, .navbar__desktop-item:hover {
  color: rgb(252, 163, 17);
}

@-webkit-keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(350%);
            transform: translateX(350%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navItemsAnimation {
  from {
    -webkit-transform: translateX(350%);
            transform: translateX(350%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.nav-items-animation {
  -webkit-animation: navItemsAnimation 0.3s both;
          animation: navItemsAnimation 0.3s both;
}

header {
  color: #000000;
}
header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url(../img/soccer-hero-small.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
}
header .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 1rem;
  text-align: center;
  z-index: 1;
}
header .hero-text h1 {
  font-size: 3rem;
  color: rgb(20, 33, 61);
  font-weight: bold;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
header .hero-text p {
  font-size: 1.8rem;
}
header .hero-text p ::first-letter {
  text-transform: uppercase;
}
header .hero-text p::first-letter {
  text-transform: uppercase;
}
header .fa-chevron-down {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  padding: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  background-color: rgb(20, 33, 61);
  font-size: 2rem;
  color: #ffffff;
}

.home__container,
.posts__container {
  padding-top: 1rem;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.home__container__title,
.posts__container__title {
  color: rgb(20, 33, 61);
  font-size: 3rem;
}
.home__container__title ::first-letter,
.posts__container__title ::first-letter {
  text-transform: uppercase;
}
.home__container__title::first-letter,
.posts__container__title::first-letter {
  text-transform: uppercase;
}

.home {
  background-color: rgb(20, 33, 61);
}
.home__container__title {
  color: #ffffff;
}
.home__container__box {
  padding: 1rem;
  text-align: center;
}
.home__container__box-text {
  margin-bottom: 0.5rem;
  font-size: 2.3rem;
  color: #ffffff;
}
.home__container__box-text ::first-letter {
  text-transform: uppercase;
}
.home__container__box-text::first-letter {
  text-transform: uppercase;
}
.home__container__box-text span {
  color: rgb(252, 163, 17);
  font-weight: bolder;
}
.home__container__box-text a {
  font-weight: bolder;
  cursor: pointer;
}
.home__container__box-text a:hover {
  color: rgb(252, 163, 17);
}
.home__container__box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 3rem;
}
.home__container__box-content-option {
  padding: 1rem;
}
.home__container__box-content-option:hover i, .home__container__box-content-option:hover p {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.home__container__box-content-option i,
.home__container__box-content-option p {
  color: #ffffff;
  font-size: 2.5rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.home__container__box-content-option p.digits {
  color: rgb(252, 163, 17);
  font-weight: bolder;
}

.posts__container {
  padding: 1rem;
}
.posts__container__title {
  margin-bottom: 1rem;
}
.posts__container__box {
  display: grid;
  gap: 1.5rem;
}
.posts__container__box__post {
  padding: 1rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.posts__container__box__post-image {
  height: 20rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.posts__container__box__post-title {
  margin-bottom: 0.5rem;
  color: rgb(20, 33, 61);
  font-size: 1.8rem;
  font-weight: bolder;
}
.posts__container__box__post-tags, .posts__container__box__post-reactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.posts__container__box__post-tags i, .posts__container__box__post-reactions i {
  margin-right: 0.5rem;
}
.posts__container__box__post-tags {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.2rem;
  font-size: 1.4rem;
}
.posts__container__box__post-tags i {
  color: rgb(252, 163, 17);
}
.posts__container__box__post-reactions {
  margin-top: 0.5rem;
  gap: 2rem;
}
.posts__container__box__post-reactions i,
.posts__container__box__post-reactions span {
  font-size: 1.6rem;
}

footer {
  padding: 1.5rem;
  background-color: rgb(20, 33, 61);
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
}

@media (min-width: 576px) {
  .navbar__mobile {
    gap: 0.7rem;
    padding: 1.1rem;
  }
  .navbar__mobile-btns-btn {
    font-size: 3rem;
  }
  .navbar__mobile-item {
    font-size: 2rem;
  }
  @-webkit-keyframes navItemsAnimation {
    from {
      -webkit-transform: translateX(600%);
              transform: translateX(600%);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes navItemsAnimation {
    from {
      -webkit-transform: translateX(600%);
              transform: translateX(600%);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  header .hero-text {
    padding: 1rem;
  }
  header .hero-text h1 {
    font-size: 3.5rem;
  }
  header .hero-text p {
    font-size: 2rem;
  }
  .home__container__title,
.posts__container__title {
    font-size: 3.3rem;
  }
  .home__container__box-text {
    font-size: 2.5rem;
  }
  .home__container__box-content-option i,
.home__container__box-content-option p {
    font-size: 2.8rem;
  }
  .posts__container__box__post-title {
    font-size: 2.2rem;
  }
  .posts__container__box__post-tags {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
    font-size: 1.8rem;
  }
  .posts__container__box__post-reactions i,
.posts__container__box__post-reactions span {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .navbar__mobile {
    gap: 0.7rem;
    padding: 1.1rem;
  }
  .navbar__mobile-btns-btn {
    font-size: 3.3rem;
  }
  .navbar__mobile-item {
    font-size: 2.3rem;
  }
  @-webkit-keyframes navItemsAnimation {
    from {
      -webkit-transform: translateX(800%);
              transform: translateX(800%);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes navItemsAnimation {
    from {
      -webkit-transform: translateX(800%);
              transform: translateX(800%);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  header .hero-text {
    padding: 1rem;
  }
  header .hero-text h1 {
    font-size: 4rem;
  }
  header .hero-text p {
    font-size: 2.3rem;
  }
  header .hero-text .fa-chevron-down {
    font-size: 3rem;
  }
  .home__container__title,
.posts__container__title {
    font-size: 3.6rem;
  }
  .home__container__box-text {
    font-size: 2.8rem;
  }
  .home__container__box-content-option i,
.home__container__box-content-option p {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .navbar__mobile {
    display: none;
  }
  .navbar__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .hero-img {
    background-image: url(../img/soccer-hero-big.jpg);
  }
  header .hero-text {
    padding: 1.2rem;
  }
  header .hero-text h1 {
    font-size: 5rem;
  }
  header .hero-text p {
    font-size: 2.5rem;
  }
  .posts__container__box {
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    text-align: center;
    gap: 2rem;
  }
  .posts__container__box__post-title {
    font-size: 2.1rem;
  }
  .posts__container__box__post-tags {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.3rem;
    font-size: 1.8rem;
  }
  .posts__container__box__post-reactions {
    gap: 2.5rem;
  }
  .posts__container__box__post-reactions i,
.posts__container__box__post-reactions span {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .navbar__desktop-logo, .navbar__desktop-item {
    font-size: 2.1rem;
  }
  .home__container__title,
.posts__container__title {
    font-size: 4rem;
  }
  .home__container__box-text {
    font-size: 3rem;
  }
  .home__container__box-content-option i,
.home__container__box-content-option p {
    font-size: 3.2rem;
  }
  .posts__container__box {
    grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));
  }
  .posts__container__box__post-title {
    font-size: 2.4rem;
  }
  .posts__container__box__post-tags {
    font-size: 2rem;
  }
  .posts__container__box__post-reactions i,
.posts__container__box__post-reactions span {
    font-size: 2.2rem;
  }
}/*# sourceMappingURL=main.css.map */