*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-moz-selection {
  color: #ffffff;
  background-color: rgb(20, 33, 61);
}

*::selection {
  color: #ffffff;
  background-color: rgb(20, 33, 61);
}

::-webkit-scrollbar {
  width: 1rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(20, 33, 61);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  color: #000000;
}

a,
i {
  text-decoration: none;
}

a {
  color: inherit;
}

i {
  background: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

textarea {
  min-height: 20rem;
  resize: vertical;
}

body {
  padding-left: 40rem;
  background-color: #f5f5f5;
}

.pd-reset {
  padding-left: 0;
}

section {
  padding: 0 2rem;
  margin: 0 auto 1rem;
  max-width: 1200px;
}

.sticky {
  overflow: hidden;
}

.dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 900;
}

.ann-editor__heading ::first-letter,
.ann-editor__form-text ::first-letter,
.ann-editor__form button ::first-letter,
.comments__title ::first-letter,
.comments__container-comment-user-info a ::first-letter,
.comments__container-comment-content ::first-letter,
.dashboard__heading ::first-letter,
.dashboard__container-box h3 ::first-letter,
.dashboard__container-box-content p ::first-letter,
.show-ann__container-empty ::first-letter,
.show-ann__heading ::first-letter,
.show-ann__container__box-btns a ::first-letter,
.show-ann__container__box button ::first-letter,
.form-container h3 ::first-letter,
.form-container__form-info p ::first-letter,
.form-container__form-info a ::first-letter,
.header__navbar-item ::first-letter {
  text-transform: uppercase;
}
.ann-editor__heading::first-letter,
.ann-editor__form-text::first-letter,
.ann-editor__form button::first-letter,
.comments__title::first-letter,
.comments__container-comment-user-info a::first-letter,
.comments__container-comment-content::first-letter,
.dashboard__heading::first-letter,
.dashboard__container-box h3::first-letter,
.dashboard__container-box-content p::first-letter,
.show-ann__container-empty::first-letter,
.show-ann__heading::first-letter,
.show-ann__container__box-btns a::first-letter,
.show-ann__container__box button::first-letter,
.form-container h3::first-letter,
.form-container__form-info p::first-letter,
.form-container__form-info a::first-letter,
.header__navbar-item::first-letter {
  text-transform: uppercase;
}

.underline {
  height: 0.1rem;
  background-color: rgb(20, 33, 61);
  margin: 0.5rem 0 1.2rem;
}

.btn {
  padding: 1rem 2rem;
  width: 100%;
  font-size: 2.1rem;
  text-align: center;
  border-radius: 0.8rem;
  cursor: pointer;
  overflow: hidden;
}

.form-btn {
  margin-top: 1rem;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.red-btn,
.navy-btn,
.green-btn {
  color: #ffffff;
}
.red-btn a,
.navy-btn a,
.green-btn a {
  color: #ffffff;
}

.red-btn {
  background-color: rgba(192, 0, 0, 0.9);
}

.navy-btn {
  background-color: rgb(20, 33, 61);
}

.green-btn {
  background-color: rgb(24, 141, 0);
}

.yellow-btn {
  background-color: rgb(252, 163, 17);
}

.gray-btn {
  background-color: #e5e5e5;
}

.login,
.logout,
.view {
  display: block;
  padding: 1rem 2rem;
  width: 100%;
  color: #000000;
  text-align: center;
}

.pd-btn-reset {
  padding: 0;
}

.btn-action:hover {
  background-color: #e5e5e5;
  color: #000000;
}
.btn-action:hover a {
  color: #000000;
}

.message,
.good-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  gap: 2rem;
}
.message span,
.message i,
.good-message span,
.good-message i {
  font-size: 1.8rem;
}
.message i,
.good-message i {
  cursor: pointer;
}

.message {
  background-color: rgba(192, 0, 0, 0.6);
}

.good-message {
  position: sticky;
  top: 0;
  margin: 0 auto;
  background-color: rgba(33, 197, 0, 0.6);
}

.dashboard__heading,
.ann-editor__heading,
.show-ann__heading {
  margin: 3rem 0 2rem;
  font-size: 4rem;
  color: rgb(20, 33, 61);
  text-align: center;
}

.ann-image {
  height: 20rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.burger-btn {
  display: none;
  position: fixed;
  top: 0.6rem;
  left: 1.3rem;
  padding: 0.3rem;
  border: 0.2rem solid rgb(20, 33, 61);
  border-radius: 0.8rem;
  background-color: #ffffff;
  z-index: 1200;
}
.burger-btn:focus {
  outline: none;
  border: 0.2rem solid #000000;
}
.burger-btn__box {
  position: relative;
  width: 3rem;
  height: 3rem;
}
.burger-btn__box .fa-bars {
  font-size: 3rem;
  color: rgb(20, 33, 61);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4rem 2rem 2rem;
  min-height: 100vh;
  width: 40rem;
  border-right: 0.5rem solid rgb(20, 33, 61);
  background-color: #ffffff;
  z-index: 1000;
}
.header__logo {
  font-size: 3.5rem;
  text-align: center;
  color: rgb(20, 33, 61);
  font-weight: bold;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.header__profile {
  margin: 1rem 0 2rem;
  text-align: center;
}
.header__profile-text {
  font-size: 2.5rem;
  color: #000000;
}
.header__navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 5.5rem) 0.5rem 7.5rem;
  gap: 0.8rem;
}
.header__navbar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column: 1/3;
}
.header__navbar-item--login, .header__navbar-item--logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-row: 7/8;
  font-size: 1.75rem;
}
.header__navbar-item--login i, .header__navbar-item--logout i {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.header__navbar-item--login:hover i, .header__navbar-item--logout:hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.header__navbar-item--login {
  grid-column: 1/2;
}
.header__navbar-item--login:hover i {
  color: rgb(252, 163, 17);
}
.header__navbar-item--logout {
  grid-column: 2/3;
}
.header__navbar-item--logout:hover i {
  color: rgba(192, 0, 0, 0.9);
}

.dashboard__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem 0;
}
.dashboard__container-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid rgb(20, 33, 61);
  border-radius: 0.8rem;
  background-color: #ffffff;
}
.dashboard__container-box h3 {
  font-size: 2.3rem;
}
.dashboard__container-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  font-size: 2rem;
}
.dashboard__container-box-content i {
  margin-right: 0.8rem;
  color: rgb(252, 163, 17);
  -webkit-transition: margin-right 0.3s;
  transition: margin-right 0.3s;
}
.dashboard__container-box-content:hover i {
  margin-right: 1rem;
}

.form-container,
.form-container__form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container {
  min-height: 100vh;
}
.form-container__form {
  padding: 1.5rem;
  width: 50rem;
  background-color: #ffffff;
  border: 0.2rem solid rgb(20, 33, 61);
  border-radius: 0.8rem;
  text-align: center;
}
.form-container__form h1 {
  font-size: 3.5rem;
  color: rgb(20, 33, 61);
  font-weight: bold;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.form-container__form h3 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: rgb(20, 33, 61);
}
.form-container__form-box {
  margin: 1rem 0;
  padding: 1.5rem;
  width: 100%;
  font-size: 1.5rem;
}
.form-container__form-info {
  margin-top: 1rem;
  gap: 0.5rem;
  font-size: 1.8rem;
}
.form-container__form-info a {
  font-weight: bold;
  color: rgb(20, 33, 61);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ann-editor__form {
  margin: 0 auto;
  padding: 1.5rem;
  max-width: 80rem;
  background-color: #ffffff;
  border: 0.2rem solid rgb(20, 33, 61);
  border-radius: 0.8rem;
}
.ann-editor__form-text {
  padding-top: 0.5rem;
  font-size: 1.8rem;
}
.ann-editor__form-text span {
  color: rgba(192, 0, 0, 0.6);
}
.ann-editor__form-box {
  margin: 0.5rem 0;
  padding: 0.8rem;
  width: 100%;
  font-size: 1.5rem;
  border: 0.2rem solid rgb(20, 33, 61);
}
.ann-editor__form-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.ann-editor__form img {
  margin: 1rem 0;
}
.ann-editor__form-comeback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}
.ann-editor__form-comeback a {
  font-size: 2.2rem;
}
.ann-editor__form-comeback a:hover {
  text-decoration: underline;
}

.show-ann__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
  padding: 1rem 2rem;
  border: 0.2rem solid rgb(20, 33, 61);
  border-radius: 0.8rem;
  background-color: #ffffff;
}
.show-ann__form input {
  width: 100%;
  font-size: 2rem;
  border: none transparent;
}
.show-ann__form input:focus {
  outline: none;
}
.show-ann__form button {
  padding: 0.5rem 1rem;
}
.show-ann__form button i {
  color: rgb(252, 163, 17);
  font-size: 2rem;
}
.show-ann__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem 0;
}
.show-ann__container__box {
  padding: 2rem;
  border: 0.2rem solid rgb(20, 33, 61);
  border-radius: 0.8rem;
  background-color: #ffffff;
  overflow: hidden;
}
.show-ann__container__box-image {
  margin-bottom: 1rem;
}
.show-ann__container__box-status {
  position: relative;
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  background-color: #e5e5e5;
  font-size: 1.8rem;
}
.show-ann__container__box-title {
  padding: 1rem 0;
  min-width: 100%;
  color: rgb(20, 33, 61);
  font-size: 2.1rem;
  font-weight: bold;
  overflow: hidden;
  overflow-wrap: break-word;
}
.show-ann__container__box-content {
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  font-size: 1.8rem;
  overflow-wrap: break-word;
}
.show-ann__container__box-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.8rem;
  font-size: 1.5rem;
}
.show-ann__container__box-icons i {
  margin-right: 0.5rem;
}
.show-ann__container__box-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.show-ann__container__box-tags {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0.5rem;
}
.show-ann__container__box-tags-tag {
  font-size: 1.6rem;
}
.show-ann__container__box-tags-tag i {
  margin-right: 0.5rem;
  color: rgb(252, 163, 17);
}
.show-ann__container-empty {
  grid-column: 1/-1;
  text-align: center;
  font-size: 2.5rem;
}
.show-ann__container-empty a {
  color: rgb(252, 163, 17);
}
.show-ann__container-empty a:hover {
  text-decoration: underline;
}

.read-ann,
.show-comments {
  margin-top: 2rem;
}

.comments__title, .comments__container {
  padding: 1.5rem;
}
.comments__title {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  background-color: rgb(20, 33, 61);
  color: #ffffff;
  font-size: 3rem;
}
.comments__container {
  padding: 2rem;
  border: 0.2rem solid rgb(20, 33, 61);
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  background-color: #ffffff;
}
.comments__container-comment {
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.comments__container-comment-user {
  display: grid;
  grid-template-rows: repeat(2, 3.5rem);
  grid-template-columns: 70rem;
  grid-row: 1/2;
  grid-column: 1/2;
}
.comments__container-comment-user-date, .comments__container-comment-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}
.comments__container-comment-user-date {
  grid-row: 1/2;
  grid-column: 1/2;
  color: #b1b1b1;
}
.comments__container-comment-user-info {
  grid-row: 2/3;
  grid-column: 1/2;
}
.comments__container-comment-user-info .username-highlight,
.comments__container-comment-user-info .title-highlight {
  color: rgb(252, 163, 17);
}
.comments__container-comment-user-info .username-highlight {
  font-weight: bold;
}
.comments__container-comment-user-info .title-highlight:hover {
  text-decoration: underline;
}
.comments__container-comment-btn {
  grid-row: 1/2;
  grid-column: 2/3;
}
.comments__container-comment-content {
  grid-row: 2/3;
  grid-column: 1/3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  font-size: 2.2rem;
  overflow-wrap: break-word;
}

/* MEDIA QUERIES */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .dashboard__heading,
.ann-editor__heading,
.show-ann__heading {
    margin: 3.6rem 0 2rem;
    font-size: 3rem;
  }
  .header {
    width: 35rem;
  }
  .header__logo {
    margin-top: 2rem;
  }
  .dashboard__container {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  .ann-editor {
    margin: 1rem 0;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  body {
    padding-left: 0;
  }
  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger-btn .fa-bars {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header {
    left: -40rem;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .header--active {
    left: 0;
  }
}/*# sourceMappingURL=user_style.css.map */