*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

body {
  padding-left: 40rem;
  background-color: #f5f5f5;
}

.pd-reset {
  padding-left: 0;
}

section {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.sticky {
  overflow: hidden;
}

.first-letter ::first-letter {
  text-transform: uppercase;
}
.first-letter::first-letter {
  text-transform: uppercase;
}

.btn {
  padding: 1rem 2rem;
  width: 100%;
  font-size: 2.3rem;
  text-align: center;
  background-color: #fca311;
  border-radius: 0.8rem;
  cursor: pointer;
  overflow: hidden;
}

.btn-action:hover {
  background-color: #14213d;
  color: #ffffff;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  gap: 2rem;
  background-color: rgba(192, 0, 0, 0.6);
}
.message span {
  font-size: 2rem;
}
.message i {
  font-size: 2rem;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4rem 2rem 2rem;
  min-height: 100vh;
  width: 40rem;
  border-right: 1rem solid #14213d;
  background-color: #ffffff;
  z-index: 1000;
}
.header__logo {
  text-align: center;
}
.header__logo a {
  color: #14213d;
  font-size: 3.5rem;
  font-family: "Russo One", sans-serif;
}
.header__profile {
  margin: 1rem 0 2rem;
  text-align: center;
}
.header__profile-text {
  font-size: 2rem;
  color: #000000;
}
.header__navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 8rem) 4rem 4rem;
  gap: 1.5rem;
}
.header__navbar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__navbar-item p,
.header__navbar-item i,
.header__navbar-item a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__navbar-item i {
  font-size: 3rem;
}
.header__navbar-item p {
  display: none;
}
.header__navbar-item::before, .header__navbar-item::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #14213d;
  content: "";
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__navbar-item::before {
  top: -50%;
  left: -100%;
}
.header__navbar-item::after {
  bottom: -50%;
  right: -100%;
}
.header__navbar-item:hover p, .header__navbar-item:hover a {
  display: block;
  color: #ffffff;
  z-index: 100;
}
.header__navbar-item:hover i {
  display: none;
}
.header__navbar-item:hover::before {
  left: 0;
}
.header__navbar-item:hover::after {
  right: 0;
}
.header__navbar-item--login {
  grid-column: 1/3;
  grid-row: 3/4;
}
.header__navbar-item--logout {
  grid-column: 1/3;
  grid-row: 4/5;
}
.header__navbar-item .login,
.header__navbar-item .logout {
  display: block;
  width: 100%;
  color: #000000;
  text-align: center;
}

.dashboard__heading {
  margin: 3rem 0 2rem;
  font-size: 4rem;
  color: #14213d;
  text-align: center;
}
.dashboard__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.dashboard__container-box {
  padding: 2rem;
  border: 2px solid #14213d;
  border-radius: 0.8rem;
  background-color: #ffffff;
}
.dashboard__container-box h3 {
  font-size: 2.2rem;
}
.dashboard__container-box h3:last-of-type {
  margin-bottom: 1rem;
}
.dashboard__container-box-btn {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.burger-btn {
  display: none;
  position: fixed;
  top: 3.4rem;
  left: 1.3rem;
  padding: 1rem;
  background: none;
  border: 1px solid transparent;
  z-index: 1200;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid #000000;
  border-radius: 0.5rem;
}
.burger-btn__box {
  position: relative;
  width: 3rem;
  height: 3rem;
}
.burger-btn__box .fa-bars {
  font-size: 3rem;
  color: #14213d;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
.form-container__form {
  padding: 2rem;
  width: 50rem;
  background-color: #ffffff;
  border: 0.3rem solid #14213d;
  border-radius: 0.8rem;
  text-align: center;
}
.form-container__form h3 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #14213d;
}
.form-container__form-box {
  margin: 1rem 0;
  padding: 1.5rem;
  width: 100%;
}
.form-container__form-btn {
  margin-top: 1rem;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* media queries */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .dashboard__heading {
    margin: 3.6rem 0 2rem;
    font-size: 3rem;
  }
  .dashboard__container {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  body {
    padding-left: 0;
  }
  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger-btn .fa-bars {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .burger-btn .fa-bars--dark {
    color: #14213d;
  }
  .header {
    left: -40rem;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .header--active {
    left: 0;
  }
}/*# sourceMappingURL=user_style.css.map */