@import './colors';

// RESET
*,
*:before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::selection {
	color: $white;
	background-color: $navy;
}

::-webkit-scrollbar {
	width: 1rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track {
	background-color: none;
}

::-webkit-scrollbar-thumb {
	background-color: $navy;
}

// html,
// body {
// 	height: 100%;
// }

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-family: 'Oswald', sans-serif;
	color: $black;
}

a {
	text-decoration: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

// BODY
body {
	padding-left: 40rem;
	background-color: $light-gray;
}

.pd-reset {
	padding-left: 0;
}

// SECTION
section {
	padding: 0 2rem;
	margin: 0 auto;
	max-width: 1200px;
}

// STICKY
.sticky {
	overflow: hidden;
}

// DARK BODY
.dark {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 900;
}

// FIRST LETTER
.first-letter {
	::first-letter {
		text-transform: uppercase;
	}

	&::first-letter {
		text-transform: uppercase;
	}
}

// BUTTONS
.btn {
	padding: 1rem 2rem;
	width: 100%;
	font-size: 2rem;
	text-align: center;
	background-color: $yellow;
	border-radius: 0.8rem;
	cursor: pointer;
	overflow: hidden;
}

.form-btn {
	margin-top: 1rem;
	border: none;
	transition: 0.3s;
}

.login,
.logout,
.view {
	display: block;
	width: 100%;
	color: $black;
	text-align: center;
}

// BUTTONS HOVER ACTION
.btn-action {
	&:hover {
		background-color: $navy;
		color: $white;
	}

	&:hover a {
		color: $white;
	}
}

// MESSAGES
.message,
.good-message {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	gap: 2rem;

	span {
		font-size: 2rem;
	}

	i {
		font-size: 2rem;
		cursor: pointer;
	}
}

.message {
	background-color: $msg-red;
}

.good-message {
	position: sticky;
	top: 0;
	margin: 0 auto;
	background-color: $msg-green;
}

// HEADINGS
.dashboard,
.ann-editor,
.show-ann {
	&__heading {
		margin: 3rem 0 2rem;
		font-size: 4rem;
		color: $navy;
		text-align: center;
	}
}

// BURGER
.burger-btn {
	display: none;
	position: fixed;
	top: 3.4rem;
	left: 1.3rem;
	padding: 1rem;
	background: none;
	border: 1px solid transparent;
	z-index: 1200;

	&:focus {
		outline: none;
		border: 1px solid $black;
		border-radius: 0.5rem;
	}

	&__box {
		position: relative;
		width: 3rem;
		height: 3rem;

		.fa-bars {
			font-size: 3rem;
			color: $navy;
		}
	}
}

// HEADER
.header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 4rem 2rem 2rem;
	min-height: 100vh;
	width: 40rem;
	border-right: 1rem solid $navy;
	background-color: $white;
	z-index: 1000;

	&__logo {
		text-align: center;

		a {
			color: $navy;
			font-size: 3.5rem;
			font-family: 'Russo One', sans-serif;
		}
	}

	&__profile {
		margin: 1rem 0 2rem;
		text-align: center;

		&-text {
			font-size: 2rem;
			color: $black;
		}

		&-btn {
			margin-top: 1rem;
			transition: 0.3s;
		}

		// 	&:hover {
		// 		background-color: $navy;
		// 		color: $gray;
		// 	}
		// }
	}

	&__navbar {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 8rem) 4rem 4rem;
		gap: 1.5rem;

		&-item,
		&-opt {
			display: flex;
			position: relative;
			justify-content: center;
			align-items: center;

			p,
			i,
			a {
				transition: 0.4s;
			}
		}

		&-item {
			i {
				font-size: 3rem;
			}

			p {
				display: none;
			}

			&::before,
			&::after {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: $navy;
				content: '';
				transition: 0.4s;
			}

			&::before {
				top: -50%;
				left: -100%;
			}

			&::after {
				bottom: -50%;
				right: -100%;
			}

			&:hover p,
			&:hover a {
				display: block;
				color: $white;
				z-index: 100;
			}

			&:hover i {
				display: none;
			}

			&:hover::before {
				left: 0;
			}

			&:hover::after {
				right: 0;
			}
		}

		&-opt {
			transition: 0.4s;

			&--login {
				grid-column: 1/3;
				grid-row: 3/4;
			}

			&--logout {
				grid-column: 1/3;
				grid-row: 4/5;
			}
		}
	}
}

//DASHBOARD
.dashboard {
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
		gap: 2rem;
		justify-content: center;
		align-items: flex-start;

		&-box {
			padding: 2rem;
			border: 2px solid $navy;
			border-radius: 0.8rem;
			background-color: $white;

			h3 {
				font-size: 2.2rem;
			}
		}
	}
}

// FORMS
.form-container,
.form-container__form-info {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-container {
	min-height: 100vh;

	&__form {
		padding: 1.5rem;
		width: 50rem;
		background-color: $white;
		border: 0.3rem solid $navy;
		border-radius: 0.8rem;
		text-align: center;

		h3 {
			margin-bottom: 1rem;
			font-size: 3rem;
			color: $navy;
		}

		&-box {
			margin: 1rem 0;
			padding: 1.5rem;
			width: 100%;
			font-size: 1.5rem;
		}

		&-info {
			margin-top: 1rem;
			gap: 0.5rem;
			font-size: 1.8rem;

			a {
				font-weight: bold;
				color: $navy;
				transition: 0.3s;
			}
		}
	}
}

// ADDING ANNOUNCEMENTS
.ann-editor {
	&__form {
		margin: 0 auto;
		padding: 1.5rem;
		max-width: 80rem;
		background-color: $white;
		border: 0.3rem solid $navy;
		border-radius: 0.8rem;

		&-text {
			padding-top: 0.5rem;
			font-size: 1.8rem;

			span {
				color: $msg-red;
			}
		}

		&-box {
			margin: 0.5rem 0;
			padding: 0.8rem;
			width: 100%;
			font-size: 1.5rem;
			border: 0.2rem solid $navy;
		}

		&-btns {
			display: flex;
			gap: 1rem;
		}
	}
}

// SHOWING ANNOUNCEMENTS
.show-ann {
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, 35rem);
		gap: 1.5rem;
		justify-content: center;
		align-items: flex-start;

		&__box {
			padding: 2rem;
			border: 2px solid $navy;
			border-radius: 0.8rem;
			background-color: $white;
			overflow: hidden;

			&-image {
				margin-bottom: 1rem;
				height: 20rem;
				width: 100%;
				object-fit: contain;
			}

			&-status {
				display: inline-block;
				margin-bottom: 1rem;
				padding: 0.8rem 1.6rem;
				color: $white;
				border-radius: 0.8rem;
				font-size: 1.8rem;
			}

			&-title {
				padding: 1rem 0;
				min-width: 100%;
				color: $navy;
				font-size: 2.2rem;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&-content {
				padding: 1rem 0;
				font-size: 1.8rem;

				&::after {
					content: '...';
				}
			}

			&-icons {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 1rem;
				background-color: $gray;
				border-radius: 0.8rem;
				font-size: 1.5rem;

				i {
					margin-right: 0.5rem;
				}
			}

			&-btns {
				display: flex;
				gap: 1rem;

				:first-child,
				:last-child {
					color: $white;
				}

				:first-child {
					background-color: $navy;

					i {
						background: none;
					}
				}

				:last-child {
					background-color: $red;
				}
			}
		}
	}
}

/* media queries */
@import './small';
@import './medium';
