$white: #ffffff;
$gray: #e5e5e5;
$dark-gray: #b1b1b1;
$light-gray: #f5f5f5;
$yellow: rgb(252, 163, 17);
$navy: rgb(20, 33, 61);
$black: #000000;
$black-shadow: rgba(0, 0, 0, 0.1);
$navy-shadow: rgba(20, 33, 61, 0.5);
$msg-red: rgba(192, 0, 0, 0.6);
$msg-green: rgba(33, 197, 0, 0.6);
$red: rgba(192, 0, 0, 0.9);
$green: rgb(24, 141, 0);
