// $main-light: #fcfffc;
// $dark: #040f0f;
// $white: #fff;
// $black: #000;
// $red: #b10000;
// $main-dark: #2d3a3a;
// $light-green: #2ba84a;
// $dark-green: #248232;

$white: #ffffff;
$gray: #e5e5e5;
$light-gray: #f5f5f5;
$yellow: #fca311;
$navy: #14213d;
$black: #000000;
$msg-red: rgba(192, 0, 0, 0.6);
$msg-green: rgba(33, 197, 0, 0.6);
$red: rgba(192, 0, 0, 0.9);
$green: rgb(33, 197, 0);
