@import './colors';
@import './tags';

@mixin firstLetter {
	::first-letter {
		text-transform: uppercase;
	}

	&::first-letter {
		text-transform: uppercase;
	}
}

@mixin logo {
	color: $navy;
	font-weight: bold;
	font-family: 'Russo One', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
}

@mixin navyUnderline {
	height: 0.1rem;
	background-color: $navy;
	margin: 0.5rem 0 1.2rem;
}

@mixin postUnderline {
	height: 0.1rem;
	background-color: $gray;
	margin: 0.8rem 0;
}

@mixin grayUnderline {
	height: 0.1rem;
	background-color: $gray;
	margin: 0.5rem 0 1rem;
}

@mixin wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

@mixin sectionTitle {
	color: $navy;
	font-size: 3rem;
	@include firstLetter;
}

@mixin annImg {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

@mixin imgFit {
	height: 20rem;
	overflow: hidden;

	&-img {
		object-fit: cover;
		transition: transform 0.3s;
	}
}

@mixin comebackArrow {
	margin-top: 1.5rem;
	padding: 1rem;
	background-color: $navy;
	color: $white;
	border-radius: 50%;
	font-size: 1.5rem;
}

@mixin boxFocus {
	&:focus {
		outline: transparent;
		box-shadow: $box-shadow-focus;
	}
}

@mixin searchInput {
	width: 100%;
	font-size: 1.8rem;
	border: none transparent;

	&:focus {
		outline: none;
	}
}

@mixin searchForm {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.5rem;
	padding: 1rem 2rem;
	background-color: $white;

	&-input {
		@include searchInput;
	}

	&-btn {
		padding: 0.5rem;

		i {
			color: $yellow;
			font-size: 1.8rem;
		}
	}
}
