@import './colors';

$border-navy: 0.2rem solid $navy;
$border-gray: 0.2rem solid $light-gray;
$border-yellow: 0.2rem solid $yellow;
$border-burger-focus: 0.2rem solid $black;
$border-burger: 0.2rem solid transparent;
$border-header: 0.5rem solid $navy;
$border-radius: 0.8rem;
$box-shadow: 0 0 1rem $black-shadow;
$box-shadow-focus: 0 0 1rem $navy-shadow;
