@import './colors';
@import './tags';
@import './mixins';

// RESET
*,
*:before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::selection {
	color: $white;
	background-color: $navy;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 62px;
	overflow-x: hidden;
	font-family: 'Oswald', sans-serif;
	color: $black;
}

a,
i {
	text-decoration: none;
}

a {
	color: inherit;
}

i {
	background: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

textarea {
	min-height: 20rem;
	resize: vertical;
}

// BODY
body {
	position: relative;
	background-color: $light-gray;
}

// TOP PADDING
.top-margin {
	margin-top: 7rem;
}

// ACTIVE NAVIGATION
.deactive {
	display: none;
}

.active-nav-bg {
	background-color: $navy;

	i,
	p,
	a {
		color: $white;
	}
}

// MAIN NAVBAR
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	overflow: hidden;

	&__mobile,
	&__desktop {
		background-color: $navy;
	}

	&__mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		width: 100%;
		padding: 1rem;

		&-btns {
			display: flex;
			justify-content: center;
			text-align: center;
			gap: 5rem;
			margin-bottom: 0.5rem;

			&-btn {
				color: $white;
				font-size: 2.5rem;
			}
		}

		&-item {
			font-size: 1.5rem;
			@include firstLetter;
		}
	}

	&__desktop {
		position: relative;
		display: none;
		justify-content: flex-end;
		align-items: center;
		gap: 2.2rem;
		width: 100%;
		padding: 2rem;

		&-logo {
			position: absolute;
			left: 2rem;
			@include logo;
		}

		&-logo,
		&-item {
			color: $white;
			font-size: 1.6rem;
			text-transform: uppercase;
			transition: 0.3s color;

			&:hover {
				color: $yellow;
			}
		}
	}
}

// MAIN HEADER
header {
	color: $black;

	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url(../img/soccer-hero-small.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		z-index: -1;
	}

	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 1rem;
		text-align: center;
		z-index: 1;

		h1 {
			font-size: 3rem;
			@include logo;
		}

		p {
			font-size: 1.8rem;
			@include firstLetter;
		}
	}

	.fa-chevron-down {
		position: absolute;
		left: 50%;
		bottom: 2rem;
		padding: 1rem;
		transform: translateX(-50%);
		border-radius: 50%;
		background-color: $navy;
		font-size: 2rem;
		color: $white;
	}
}

// STATS & POSTS WRAPPER and TITLE
.home,
.posts,
.categories {
	&__container {
		padding: 1rem 0;
		text-align: center;
		@include wrapper;

		&__title {
			@include sectionTitle;
		}
	}
}

.comments {
	&__container {
		@include wrapper;
	}
}

// COMEBACK ARROW
.comeback-arrow {
	@include comebackArrow;
}

// SECTION STATS
.home {
	background-color: $navy;

	&__container {
		&__title {
			color: $white;
		}

		&__box {
			padding: 1rem 1rem 0;
			text-align: center;

			&-text {
				margin-bottom: 0.5rem;
				color: $white;
				font-size: 2.3rem;
				font-weight: 200;
				@include firstLetter;

				// span {
				// 	color: $yellow;
				// 	font-weight: bolder;
				// }

				a {
					color: $yellow;
					font-weight: bolder;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			&-content {
				display: flex;
				justify-content: center;
				text-align: center;
				gap: 3rem;

				&-option {
					padding: 1rem;

					i,
					p {
						color: $white;
						font-size: 2.5rem;
						transition: color 0.3s;
					}

					&:hover i {
						color: $yellow;
					}

					p.digits {
						color: $yellow;
						font-weight: bolder;
					}
				}
			}
		}
	}
}

//SECTION POSTS
.posts {
	&__container {
		padding: 1rem;

		&__title {
			margin-bottom: 1.5rem;

			span {
				color: $yellow;
				text-transform: uppercase;
			}
		}

		&__form {
			@include searchForm;
		}

		&__box {
			display: grid;
			gap: 1.5rem;
			margin-top: 2rem;

			&__post {
				padding: 1.5rem;
				box-shadow: $box-shadow;

				&-info {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;

					&-date {
						color: $dark-gray;
						font-size: 1.6rem;
					}

					&-user {
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 1.4rem;

						i {
							margin-right: 0.5rem;
						}

						p {
							font-weight: bolder;
						}
					}
				}

				.underline {
					@include grayUnderline;
				}

				.post_underline {
					@include postUnderline;
				}

				&-image {
					margin-bottom: 1rem;
					@include annImg;
				}

				&-title {
					margin-bottom: 1rem;
					color: $navy;
					font-size: 1.8rem;
					font-weight: bolder;
				}

				&-content {
					margin-top: 0.5rem;
					margin-bottom: 1rem;
					font-size: 1.5rem;
					font-weight: 200;
					text-align: justify;
				}

				.left {
					align-items: flex-start;
				}

				&-tags,
				&-reactions {
					display: flex;
					justify-content: center;
					text-align: center;

					i {
						margin-right: 0.5rem;
					}
				}

				&-tags {
					flex-direction: column;
					gap: 0.2rem;
					font-size: 1.4rem;

					i {
						color: $yellow;
					}
				}

				&-reactions {
					margin-top: 0.5rem;
					gap: 2rem;

					i,
					span {
						font-size: 1.6rem;
					}
				}
			}

			&-info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: center;
				gap: 1rem;

				p {
					font-size: 1.8rem;
					@include firstLetter;

					span {
						color: $yellow;
						font-style: italic;
					}
				}
			}
		}

		&__btn {
			margin-top: 1rem;
			padding: 1rem;
			@include firstLetter;

			a {
				padding: 0.5rem 1rem;
				font-size: 2rem;
				transition: color 0.3s;

				&:hover {
					color: $yellow;
				}
			}
		}
	}
}

// COMMENTS
.comments {
	&__container {
		padding: 0 1rem 1rem;

		&-title {
			margin-bottom: 0.5rem;
			color: $navy;
			font-size: 2.3rem;
			@include firstLetter;
		}

		&-comment {
			display: flex;
			flex-direction: column;
			gap: 0.3rem;
			padding: 1rem;
			box-shadow: $box-shadow;

			&-user {
				display: flex;
				gap: 0.8rem;

				&-date,
				&-info {
					font-size: 1.4rem;
				}

				&-date {
					&-text {
						color: gray;
					}
				}

				&-info {
					.username-highlight {
						color: $yellow;
					}
				}
			}

			&-content {
				font-size: 1.5rem;
				font-weight: 200;
				@include firstLetter;
			}
		}

		&-text {
			font-size: 1.6rem;
		}
	}
}

// SECTION CATEGORIES
.categories {
	background-color: $gray;

	&__container {
		&__box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 1rem;

			&-text {
				margin-bottom: 1.5rem;
				font-size: 2rem;
				font-weight: 200;
				@include firstLetter;
			}

			&-options {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 0.5rem;

				&-link {
					color: $navy;
					font-size: 1.7rem;
				}
			}
		}
	}
}

// FOOTER
footer {
	padding: 1.2rem;
	background-color: $navy;
	color: $white;
	text-align: center;
	font-size: 2rem;
}

// -----------------------
// MEDIA
// -----------------------

@media (min-width: 576px) {
	html {
		scroll-padding-top: 72px;
	}

	.navbar {
		&__mobile {
			gap: 0.7rem;
			padding: 1.1rem;

			&-btns {
				&-btn {
					font-size: 3rem;
				}
			}

			&-item {
				font-size: 2rem;
			}
		}
	}

	header {
		.hero-text {
			padding: 1rem;

			h1 {
				font-size: 3.5rem;
			}

			p {
				font-size: 2rem;
			}
		}
	}

	.home,
	.posts,
	.categories {
		&__container {
			&__title {
				font-size: 3.3rem;
			}
		}
	}

	.home {
		&__container {
			&__box {
				&-text {
					font-size: 2.5rem;
				}

				&-content {
					&-option {
						i,
						p {
							font-size: 2.8rem;
						}
					}
				}
			}
		}
	}

	.posts {
		&__container {
			&__form {
				&-input,
				&-btn i {
					font-size: 2rem;
				}
			}

			&__box {
				&__post {
					&-info {
						&-date {
							font-size: 1.9rem;
						}

						&-user {
							font-size: 1.7rem;
						}
					}

					&-title {
						font-size: 2.2rem;
					}

					&-content {
						font-size: 1.9rem;
					}

					&-tags {
						gap: 0.5rem;
						font-size: 1.6rem;
					}

					&-reactions {
						i,
						span {
							font-size: 2rem;
						}
					}
				}

				&-info {
					p,
					a {
						font-size: 2.3rem;
					}
				}
			}

			&__btn {
				a {
					font-size: 2.5rem;
				}
			}
		}
	}

	.comments {
		&__container {
			&-title {
				font-size: 2.4rem;
			}

			&-comment {
				&-user {
					gap: 1rem;

					&-date,
					&-info {
						font-size: 1.6rem;
					}
				}

				&-content {
					font-size: 1.7rem;
				}

				&-text {
					font-size: 1.8rem;
				}
			}
		}
	}

	.categories {
		&__container {
			&__box {
				&-text {
					font-size: 2.5rem;
				}

				&-options {
					gap: 1rem;

					&-link {
						font-size: 2rem;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	html {
		scroll-padding-top: 76px;
	}

	.navbar {
		&__mobile {
			gap: 0.7rem;
			padding: 1.1rem;

			&-btns {
				&-btn {
					font-size: 3.3rem;
				}
			}

			&-item {
				font-size: 2.3rem;
			}
		}
	}

	header {
		.hero-text {
			padding: 1rem;

			h1 {
				font-size: 4rem;
			}

			p {
				font-size: 2.3rem;
			}

			.fa-chevron-down {
				font-size: 3rem;
			}
		}
	}

	.home,
	.posts,
	.categories {
		&__container {
			&__title {
				font-size: 3.6rem;
			}
		}
	}

	.home {
		&__container {
			&__box {
				&-text {
					font-size: 2.8rem;
				}

				&-content {
					&-option {
						i,
						p {
							font-size: 3rem;
						}
					}
				}
			}
		}
	}

	.posts {
		&__container {
			&__form {
				&-input,
				&-btn i {
					font-size: 2.2rem;
				}
			}

			&__box {
				&__post {
					&-info {
						&-date {
							font-size: 1.8rem;
						}

						&-user {
							font-size: 1.6rem;

							i {
								margin-right: 0.5rem;
							}
						}
					}
				}
			}
		}
	}

	.categories {
		&__container {
			&__box {
				&-text {
					font-size: 2.8rem;
				}

				&-options {
					gap: 1.2rem;

					&-link {
						font-size: 2.2rem;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	html {
		scroll-padding-top: 65px;
	}

	.navbar {
		&__mobile {
			display: none;
		}

		&__desktop {
			display: flex;
		}
	}

	header {
		.hero-img {
			background-image: url(../img/soccer-hero-big.jpg);
		}

		.hero-text {
			padding: 1.2rem;

			h1 {
				font-size: 5rem;
			}

			p {
				font-size: 2.5rem;
			}
		}
	}

	.posts {
		&__container {
			&__box {
				grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
				text-align: center;
				gap: 2rem;

				&__post {
					&-title {
						font-size: 2.1rem;
					}

					&-tags {
						flex-direction: column;
						gap: 0.3rem;
						font-size: 1.8rem;
					}

					&-content {
						font-size: 2.2rem;
					}

					&-reactions {
						gap: 2.5rem;

						i,
						span {
							font-size: 2rem;
						}
					}
				}

				&-info {
					p,
					a {
						font-size: 2.8rem;
					}
				}
			}

			&__btn {
				a {
					font-size: 2.8rem;
				}
			}
		}
	}

	.comments {
		&__container {
			&-title {
				font-size: 2.6rem;
			}

			&-comment {
				&-user {
					gap: 1rem;

					&-date,
					&-info {
						font-size: 1.8rem;
					}
				}

				&-content {
					font-size: 2rem;
				}
			}

			&-text {
				font-size: 2.2rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	html {
		scroll-padding-top: 71px;
	}

	.navbar {
		&__desktop {
			gap: 2.4rem;

			&-logo,
			&-item {
				font-size: 2.1rem;
			}
		}
	}

	.home,
	.posts,
	.categories {
		&__container {
			&__title {
				font-size: 4rem;
			}
		}
	}

	.home {
		&__container {
			&__box {
				&-text {
					font-size: 3rem;
				}

				&-content {
					&-option {
						i,
						p {
							font-size: 3.2rem;
						}
					}
				}
			}
		}
	}

	.posts {
		&__container {
			&__box {
				grid-template-columns: repeat(auto-fit, minmax(55rem, 1fr));

				&__post {
					&-title {
						font-size: 2.4rem;
					}

					&-tags {
						font-size: 2rem;
					}

					&-reactions {
						i,
						span {
							font-size: 2.2rem;
						}
					}
				}
			}
		}
	}

	.categories {
		&__container {
			&__box {
				&-text {
					font-size: 3rem;
				}

				&-options {
					grid-template-columns: repeat(4, 1fr);
					gap: 1.4rem;

					&-link {
						font-size: 2.3rem;
					}
				}
			}
		}
	}
}
