@import './colors';
@import './tags';

// RESET
*,
*:before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*::selection {
	color: $white;
	background-color: $navy;
}

::-webkit-scrollbar {
	width: 1rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track {
	background-color: none;
}

::-webkit-scrollbar-thumb {
	background-color: $navy;
}

// html,
// body {
// 	height: 100%;
// }

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-x: hidden;
	font-family: 'Oswald', sans-serif;
	color: $black;
}

a,
i {
	text-decoration: none;
}

a {
	color: inherit;
}

i {
	background: none;
}

img {
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

textarea {
	min-height: 20rem;
	resize: vertical;
}

// BODY
body {
	padding-left: 40rem;
	background-color: $light-gray;
}

.pd-reset {
	padding-left: 0;
}

// SECTION
section {
	padding: 0 2rem;
	margin: 0 auto 1rem;
	max-width: 1200px;
}

// STICKY
.sticky {
	overflow: hidden;
}

// DARK BODY
.dark {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 900;
}

// FIRST LETTER
.first-letter {
	::first-letter {
		text-transform: uppercase;
	}

	&::first-letter {
		text-transform: uppercase;
	}
}

// BUTTONS
.btn {
	padding: 1rem 2rem;
	width: 100%;
	font-size: 2.1rem;
	text-align: center;
	background-color: $yellow;
	border-radius: $border-radius;
	cursor: pointer;
	overflow: hidden;
}

.form-btn {
	margin-top: 1rem;
	border: none;
	transition: 0.3s;
}

.red-btn,
.navy-btn,
.green-btn {
	color: $white;
}

.red-btn {
	background-color: $red;
}

.navy-btn {
	background-color: $navy;
}

.green-btn {
	background-color: $green;
}

.login,
.logout,
.view {
	display: block;
	width: 100%;
	color: $black;
	text-align: center;
}

// BUTTONS HOVER ACTION
.btn-action {
	&:hover {
		background-color: $navy;
		color: $white;
	}

	&:hover a {
		color: $white;
	}
}

// MESSAGES
.message,
.good-message {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	gap: 2rem;

	span {
		font-size: 2rem;
	}

	i {
		font-size: 2rem;
		cursor: pointer;
	}
}

.message {
	background-color: $msg-red;
}

.good-message {
	position: sticky;
	top: 0;
	margin: 0 auto;
	background-color: $msg-green;
}

// HEADINGS
.dashboard,
.ann-editor,
.show-ann {
	&__heading {
		margin: 3rem 0 2rem;
		font-size: 4rem;
		color: $navy;
		text-align: center;
	}
}

// ANN IMAGES
.ann-image {
	height: 20rem;
	width: 100%;
	object-fit: contain;
}

// BURGER
.burger-btn {
	display: none;
	position: fixed;
	top: 3.4rem;
	left: 1.3rem;
	padding: 1rem;
	background: none;
	border: $border-burger;
	z-index: 1200;

	&:focus {
		outline: none;
		border: $border-burger-focus;
		border-radius: $border-radius;
	}

	&__box {
		position: relative;
		width: 3rem;
		height: 3rem;

		.fa-bars {
			font-size: 3rem;
			color: $navy;
		}
	}
}

// HEADER
.header {
	position: fixed;
	top: 0;
	left: 0;
	padding: 4rem 2rem 2rem;
	min-height: 100vh;
	width: 40rem;
	border-right: $border-header;
	background-color: $white;
	z-index: 1000;

	&__logo {
		text-align: center;

		a {
			color: $navy;
			font-size: 3.5rem;
			font-family: 'Russo One', sans-serif;
		}
	}

	&__profile {
		margin: 1rem 0 2rem;
		text-align: center;

		&-text {
			font-size: 2.2rem;
			color: $black;
		}
	}

	&__navbar {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 5rem repeat(2, 8rem) repeat(2, 5rem);
		gap: 0.8rem;

		&-item,
		&-opt {
			display: flex;
			position: relative;
			justify-content: center;
			align-items: center;

			p,
			i,
			a {
				transition: 0.4s;
			}
		}

		&-item {
			i {
				font-size: 3rem;
			}

			p {
				display: none;
			}

			&::before,
			&::after {
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: $navy;
				content: '';
				transition: 0.4s;
			}

			&::before {
				top: -50%;
				left: -100%;
			}

			&::after {
				bottom: -50%;
				right: -100%;
			}

			&:hover p,
			&:hover a {
				display: block;
				color: $white;
				z-index: 100;
			}

			&:hover i {
				display: none;
			}

			&:hover::before {
				left: 0;
			}

			&:hover::after {
				right: 0;
			}
		}

		&-opt {
			grid-column: 1/3;
			transition: 0.4s;

			&--login {
				grid-row: 4/5;
			}

			&--logout {
				grid-row: 5/6;
			}
		}
	}
}

//DASHBOARD
.dashboard {
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
		gap: 2rem;
		justify-content: center;
		align-items: flex-start;
		margin: 1rem 0;

		&-box {
			padding: 2rem;
			border: $border-navy;
			border-radius: $border-radius;
			background-color: $white;

			h3 {
				font-size: 2.2rem;
			}
		}
	}
}

// FORMS
.form-container,
.form-container__form-info {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-container {
	min-height: 100vh;

	&__form {
		padding: 1.5rem;
		width: 50rem;
		background-color: $white;
		border: $border-navy;
		border-radius: $border-radius;
		text-align: center;

		h3 {
			margin-bottom: 1rem;
			font-size: 3rem;
			color: $navy;
		}

		&-box {
			margin: 1rem 0;
			padding: 1.5rem;
			width: 100%;
			font-size: 1.5rem;
		}

		&-info {
			margin-top: 1rem;
			gap: 0.5rem;
			font-size: 1.8rem;

			a {
				font-weight: bold;
				color: $navy;
				transition: 0.3s;
			}
		}
	}
}

// ANN-EDITOR SECTION
.ann-editor {
	&__form {
		margin: 0 auto;
		padding: 1.5rem;
		max-width: 80rem;
		background-color: $white;
		border: $border-navy;
		border-radius: $border-radius;

		&-text {
			padding-top: 0.5rem;
			font-size: 1.8rem;

			span {
				color: $msg-red;
			}
		}

		&-box {
			margin: 0.5rem 0;
			padding: 0.8rem;
			width: 100%;
			font-size: 1.5rem;
			border: $border-navy;
		}

		&-btns {
			display: flex;
			gap: 1rem;
		}

		img {
			margin: 1rem 0;
		}

		&-comeback {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 1rem;

			a {
				font-size: 2.2rem;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

// SHOW-ANN SECTION
.show-ann {
	&__form {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1.5rem;
		margin-bottom: 2.5rem;
		padding: 1rem 2rem;
		border: $border-navy;
		background-color: $white;

		input {
			width: 100%;
			font-size: 2rem;
			border: none transparent;

			&:focus {
				outline: none;
			}
		}

		button {
			padding: 0.5rem 1rem;

			i {
				color: $yellow;
				font-size: 2rem;
			}
		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, 35rem);
		gap: 1.5rem;
		justify-content: center;
		align-items: flex-start;
		margin: 1rem 0;

		&__box {
			padding: 2rem;
			border: $border-navy;
			border-radius: $border-radius;
			background-color: $white;
			overflow: hidden;

			&-image {
				margin-bottom: 1rem;
			}

			&-status {
				position: relative;
				display: inline-block;
				margin-bottom: 1rem;
				padding: 0.5rem 1rem;
				border-radius: $border-radius;
				background-color: $gray;
				font-size: 1.8rem;
			}

			&-title {
				padding: 1rem 0;
				min-width: 100%;
				color: $navy;
				font-size: 2.2rem;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			&-content {
				margin-bottom: 0.5rem;
				padding: 1rem 0;
				font-size: 1.8rem;
				overflow-wrap: break-word;
			}

			&-icons {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 1rem;
				background-color: $gray;
				border-radius: $border-radius;
				font-size: 1.5rem;

				i {
					margin-right: 0.5rem;
				}
			}

			&-btns {
				display: flex;
				gap: 1rem;
			}

			&-tags {
				display: grid;
				grid-template-columns: repeat(auto-fit, 35rem);
				justify-content: center;
				margin-top: 1rem;
				padding: 1rem 2rem;
				border: $border-gray;
				border-radius: $border-radius;

				&-tag {
					font-size: 2rem;
					text-align: center;

					i {
						margin-right: 0.5rem;
					}
				}
			}
		}

		&-empty {
			grid-column: 1/-1;
			text-align: center;
			font-size: 2.5rem;

			a {
				color: $yellow;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

// READ ANN
.read-ann {
	margin-top: 2rem;
}

// COMMENTS
.comments {
	&__title,
	&__container {
		padding: 1.5rem;
	}

	&__title {
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		background-color: $navy;
		color: $white;
		font-size: 3rem;
	}

	&__container {
		display: grid;
		gap: 2rem;
		padding: 2rem;
		border: $border-navy;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		background-color: $white;

		&-comment {
			&-user {
				display: flex;
				align-items: center;
				gap: 1.5rem;

				&-icon {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 4.5rem;
					height: 4.5rem;
					border-radius: $border-radius;
					background-color: $gray;

					i {
						color: $black;
						font-size: 2.5rem;
					}
				}

				&-info {
					span {
						color: $navy;
						font-size: 2rem;
					}

					div {
						margin-top: 0.2rem;
						font-size: 1.6rem;
					}
				}
			}

			&-content {
				padding: 1rem 0;
				font-size: 1.8rem;
			}
		}
	}
}

/* media queries */
@import './small';
@import './medium';
